/* src/styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .navbar-logo img {
    height: 70px;
  }

  .search-box {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    position: relative;
  }
  
  .search-box input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-box input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    outline: none;
  }
  
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 50px;
  }
  .navbar-menu1 {
    display: flex;
    list-style: none;
    gap: 50px;
  }
  
  .navbar-menu li {
    display: inline;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover {
    color: #ffde59;
  }
  
  .logout-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #ff4b4b;
  }
  .cart-icon {
    width: 45px;
    cursor: pointer;
  }
  
  .user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: box-shadow 0.3s ease;
  }
  
  .user-icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 55px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 220px;
    padding: 5px 0;
    z-index: 100;
    opacity: 0;
    transform: scale(0.95);
    transform-origin: top right;
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    color: #444;
    font-size: 14px;
    transition: background 0.3s ease;
    list-style: none;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
  }
  
  .dropdown-menu a:hover {
    color: #cc680b;
  }
  .dropdown-menu :hover {
    color: #cc680b;
  }
  
  /* Display the dropdown when open */
  .user-menu .dropdown-menu {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
  
  
  
  